:root {
    --color-font-error: hsl(0, 100%, 50%); //#ff0000
    --color-font-active: hsl(120, 100%, 25%); // #008000
    --color-border: hsl(0, 0%, 87%); // #DDDDDD
    --color-font-primary: hsl(0, 0%, 0%); //#000000
    --color-font-secondary: hsl(0, 21%, 48%); //#946161
}
